<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="/images/web2.png" class="img-responsive" alt="" />
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">Wows Tracker</h1>
          </div>
          <div class="col-md-8">
            <p>
              WowsTracker is a website that provides a statistics data in World of War game. In WowsTracker, user can track in game statistic about world of warship like player battle history, player gameplay statistic, and player warship.
            </p>
            <p>User can search their statistics game by fill in the nickname in the search field, and then the user will receive their account statistics.</p>
          </div>
          <div class="col-md-3 col-md-offset-1 ">
            <ul class="list-unstyled">
              
              <li>
                <img src="/images/angular_icon.png" />
                AngularJS
              </li>
              <br>
              <li>
                <img src="/images/css-icon.png" />
                CSS
              </li>
              <br>
              <li>
                <img src="/images/api-icon.png" />
                Wargaming.net
              </li>
            </ul>
          </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <blockquote>
          <p>Preview of Wows Tracker</p>
        </blockquote>
        <img src="/images/wows-view.png" class="img-responsive" alt="" />
      </div>

      <a href="https://wows-tracker.netlify.app/index.html">
        <button type="button" class="btn btn-default btn-lg btn-block">LIVE PREVIEW <i class="fa fa-external-link"></i></button
      ></a>

      <a href="https://github.com/DwisS2">
        <button type="button" class="btn btn-default btn-lg btn-block">SOURCE CODE <i class="fa fa-external-link"></i></button
      ></a>
    </div>
  </div>
</div>
