<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <img src="/images/web3.png" class="img-responsive" alt="" />
          <div class="card-container">
            <div class="text-center">
              <h1 class="h2">XTime</h1>
            </div>
            <div class="col-md-8">
              <p>
                The website created to fulfill this UTS assignment is about an online watch shop that named "XTime".
              </p>
              <p>
                It contains a variety of watches and users can order them. There are user and admin pages that have several features, namely login, register, CRUD, search.
              </p>
            </div>
            <div class="col-md-3 col-md-offset-1 ">
              <ul class="list-unstyled">
                
                <li>
                  <img src="/images/ci4.png" />
                  Code Igniter 4
                </li>
                <br>
                <li>
                  <img src="/images/css-icon.png" />
                  CSS
                </li>
                <br>
                <li>
                  <img src="/images/js.png" />
                  Javascript
                </li>
              </ul>
            </div>
            </div>
          </div>
        </div>
  
        <div class="col-xs-12">
            <br>
          <blockquote>
              <p>Preview of Wows Tracker</p>
            </blockquote>
            <img src="/images/xtime-view.png" class="img-responsive" alt="" />
        </div>
  
        <a href="https://xtimereal.000webhostapp.com/">
          <button type="button" class="btn btn-default btn-lg btn-block">LIVE PREVIEW <i class="fa fa-external-link"></i></button
        ></a>
  
        <a href="https://github.com/DwisS2/xtime">
          <button type="button" class="btn btn-default btn-lg btn-block">SOURCE CODE <i class="fa fa-external-link"></i></button
        ></a>
      </div>
    </div>
  </div>
  